<title>Teste</title>
<meta name="description" content="apenas um teste"/>
<meta name="author" content="author aqui"/>
<link rel="base" href="http://teste.com.br"/>
<link rel="canonical" href="http://teste.com.br"/>
<meta rel="sitemap" type="application/xml" content="http://teste.com.br/sitemap.xml"/>
<meta name="robots" content="none"/>
<meta name="googlebot" content="none"/>
<meta name="theme-color" content=""/>
<meta name="msapplication-navbutton-color" content=""/>
<meta name="apple-mobile-web-app-status-bar-style" content=""/>
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Teste"/>
<meta itemprop="description" content="apenas um teste"/>
<meta itemprop="image" content="path/to/img"/>
<!-- markup for facebook -->
<meta property="og:type" content="website"/>
<meta property="og:title" content="Teste"/>
<meta property="og:url" content="http://teste.com.br"/>
<meta property="og:site_name" content="Teste"/>
<meta property="og:image" content="path/to/img"/>
<meta property="og:description" content="apenas um teste"/>
<meta property="og:locale" content="pt_BR"/>
<meta property="fb:app_id" content="teste"/>
<meta property="fb:admins" content=""/>
<!-- markup for twitter -->
<meta name="twitter:card" content="Product"/>
<meta name="twitter:title" content="Teste"/>
<meta name="twitter:description" content="apenas um teste"/>
<meta name="twitter:creator" content="author aqui"/>
<meta name="twitter:image" content="path/to/img"/>
<!-- JSON-LD - structured data markup Google Search -->
<script type="application/ld+json">
{"@context":"http://www.schema.org","@type":"person","name":"Teste","jobTitle":"teste professional","url":"test.com.br","address":{"streetAddress":"meu endereço","@type":"PostalAddress","addressLocality":"minha cidade","addressRegion":"meu estado","postalCode":"meu cep","addressCountry":"meu pais"},"telephone":"meu telefone","email":"teste@teste.com.br","birthDate":"minha data de nascimento yyyy-mm-dd"}
</script>
